<footer class="main-footer text-center">
    <!--<div class="pull-right hidden-xs">-->
        <!--<b>Version</b> 1.0-->
    <!--</div>-->
    <strong id="dynamic-footer"></strong> All rights reserved.
</footer>

<script>
    document.getElementById("dynamic-footer").innerHTML = "Copyright &copy; " + new Date().getFullYear() + "  <a href=\"https://www.crossworkers-egypt.com/\">Cross Workers</a>.";
</script>